
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
}

// .container-fluid {
//   width: 100%;
// }

// .row {
//   margin-left: -15px;
//   margin-right: 0;
//   padding-right: 15px;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand', sans-serif;
}

.header {
  padding-top: 45px;
  background:
    linear-gradient(
      rgba(230, 51, 136, 0.85),
      rgba(230, 51, 136, 0.85)
    ),
    url("../images/picjumbo.com_HNCK8984.jpeg") center center;
  min-height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  background-color: #ffa500;
  padding-top: 10px;
}

.nav p {
  display: inline-block;
  color: #fff;
}

#logo-icon {
  display: inline-block;
}

#about-link a,
#contact-link a,
#projects-link a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#nav-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

@media (max-width: 770px) {
  .nav a {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  #nav-links a {
    color: #ffa500;
  }
}

#title {
  position: relative;
  top: 50%;
  transform: translateY(70%);
}

#title h1 {
  color: #fff;
  font-family: 'Quicksand', sans-serif;
}

#title p {
  color: #fff;
}

#profile-box {
  min-height: 200px;
}

#profile {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border: 1px solid #999;
  border-radius: 100%;
  background: url("../images/profile.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-position: 0px -25px;
  margin: 0 auto;
  filter: grayscale(100%);
  top: 25%;
  transform: translateY(25%);
}

// #profile:hover {
//   filter: custom();
// }

#about-info {
  min-height: 275px;
  padding-right: 5%;
}

#about-info h1 {
  color: #999;
}

#about-info a {
  color: #ade1e6;
}

#about-info p,
#skills-info p {
  color: #999;
  // text-align: left;
}

#skills-info {
  color: #fff;
  min-height: 300px;
}

#skills-info h1 {
  padding-left: 30px;
  padding-top: 30px;
}

#skills-info p {
  // padding-left: 30px;
}

#html,
#css,
#sass,
#bootstrap,
#javascript,
#backbone,
#react,
#jquery {
  margin-bottom: 11px;
}

.labels {
  padding-right: 0;
}

.labels p {
  display: block;
  text-align: right;
}

.ratings {

}

.empty-circle {
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 100%;
  display: inline-block;
  margin-top: 5px;
}

.filled-circle {
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 100%;
  display: inline-block;
  background-color: #ade1e6;
}

.skills-graph {
  padding-top: 15px;
  border-left: 1px solid #ade1e6;
  background-color: #fff;
}

.skills-graph p {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  padding-right: 10px;
  text-align: right;
  color: #999;
}

#knowledge {
  border-radius: 4px;
  min-height: 300px;
  background-color: #ade1e6;
  // margin-top: -20px;
  top: 7%;
  transform: translateY(-7%);
}

#knowledge p {
  color: #fff;
  padding-right: 30px;
  padding-left: 30px;
}

.projects {
  margin-top: 15px;
}

.projects h3 {
  text-align: center;
}

.projects p {
  text-align: center;
}

.game {
  border-right: 1px solid #ff3388;
  border-left: 1px solid #ff3388;
}

#design-critic-img,
#game-img,
#image-board-img {
  border-radius: 4px;
  border: 1px solid #d3d3d3;
}

#design-critic-img img,
#game-img img,
#image-board-img img {
  width: 100%;
  border-radius: 4px;
  // height: 150px;
}

#contact-info {
  min-height: 250px;
  color: #23bb17;
  border: 1px solid #23bb17;
  border-radius: 4px;
}

#contact-info p {
  color: #999;
  margin-top: 15px;
}

#contact-info a {
  color: #999;
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}

#contact-info img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

#resume {
  margin-top: 15px;
}

.footer {
  margin-top: 15px;
  padding: 15px;
  margin-bottom: 15px;
}

.footer p {
  margin: 0 auto;
}
